
@{
    ViewBag.Title = "IndexHome";
}

<div class="container-fluid" ng-app="appModule" ng-controller="mainController">

    <form name="mainForm">
        Name: <input name="nameTxtField" type="text" ng-model="name" required />

        <br />

        <div ng-show="mainForm.nameTxtField.$touched">
            <div ng-show="mainForm.nameTxtField.$error.required">Tell us your name.</div>
        </div>

    </form>

    <div ng-show="mainForm.nameTxtField.$error.required">
        Name required
    </div>

</div>
