<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @RenderSection("Styles", required: false)

    <meta name="description" content="description" />
</head>

<body>

    <div class="content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>